.header {
    width: 100%;
    min-height: unset;
    height: 100px;
    display:flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    max-width: 100vw;
    transform: translateY(-100px);
    padding-top: 1rem;
    background: transparent;
    transition: margin-top 0.4s cubic-bezier(0.16, 1, 0.3, 1);

    &.scrolled {
        // background: linear-gradient(#ffffffa6 81%, transparent);
    }

    @media (max-width: 500px) {
        flex-direction: column;
        height: 130px;

        &.scrolled {
            margin-top: -75px;
        }
    }

    img {
        height: 55px;
        width: auto;
        margin-top: 5px;
        // filter: invert(1);

        &.mobileLogo {
            display: none;
        }

        @media (max-width: 500px) {
            width: 90px;
            height: auto;
            margin: 0 auto;
            margin-bottom: 10px;

            &.mobileLogo {
                display: block;
                position: absolute;
                height: 40px;
                width: auto;
                top: 82px;
                left: -35px;
                transition: left 0.4s cubic-bezier(0.16, 1, 0.3, 1);

                &.scrolled {
                    left: 15px;
                }
            }
        }
    }

    nav {
        color:black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 4;

        a {
            font-size: 20px;
            margin-top: 10px;
            transition: margin 0.4s cubic-bezier(0.16, 1, 0.3, 1);
            
            &:not(:last-child) {
                margin-right: 15px;
            }
            &:after {
                top: 30px;
            }
        }

        @media (max-width: 500px) {
            justify-content: space-between;
            transition: margin 0.4s cubic-bezier(0.16, 1, 0.3, 1);
            margin-left: -100px;

            &.scrolled {
                margin-left: -100px;
                margin-top: 70px;

                a {                    
                    &:not(:last-child) {
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}