.header {
    width: 100%;
    min-height: unset;
    height: 100px;
    display:flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    max-width: 100vw;
    transform: translateY(-100px);
    padding-top: 1rem;
    background: transparent;

    @media (max-width: 500px) {
        flex-direction: column;
        height: 70px;

        &.scrolled {
            img {
                top: -75px;
            }
        }
    }

    img {
        height: 55px;
        width: auto;
        margin-top: 5px;
        position: relative;
        left: 0px;
        top: 0px;
        transition: top 0.4s cubic-bezier(0.16, 1, 0.3, 1);

        &.mobileLogo {
            display: none;
        }

        @media (max-width: 500px) {
            width: 90px;
            height: auto;
            margin-bottom: 10px;

            &.mobileLogo {
                display: block;
                position: absolute;
                height: 48px;
                width: auto;
                top: 16px;
                left: -35px;

                &.scrolled {
                    left: 21px;
                }
            }
        }
    }

    nav {
        color:black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 4;

        a {
            font-size: 20px;
            transition: margin-right 0.4s cubic-bezier(0.16, 1, 0.3, 1);
            margin-top: 10px;
            
            &:not(:last-child) {
                margin-right: 15px;
            }
            &:after {
                top: 30px;
            }
        }

        @media (max-width: 500px) {
            justify-content: space-between;
            transition: margin 0.4s cubic-bezier(0.16, 1, 0.3, 1);
            margin-left: -100px;

            a {
                &:after {
                    top: 26px;
                }
            }

            &.scrolled {
                margin-left: -100px;

                a {                    
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}