* {
  box-sizing: border-box;
}

html {
  transition: background 1s ease;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: acumin-pro, sans-serif;
  overflow-x: hidden;
}

p {
  text-align: justify;
}
h1 {
  font-family: acumin-pro-extra-condensed, sans-serif;
}
h1 {
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-weight: 300;

  a {
    &:not(.button):after {
      height: .1rem;
      background: black;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 4rem;
    }
  }
}
a:not(.button) {
  color: inherit;
  text-decoration: none;
  position: relative;

  &.invert:after {
    background: white;
  }

  &:after {
    content: "";
    width: 100%;
    height: .1rem;
    background: black;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1.25rem;
  }

  &:hover:after {
    animation: link-anim 0.4s ease;
  }
}
a.button {
  margin-top: 10px;
}
button, .button {
  text-decoration: none;
  padding: 10px;
  background: black;
  color: white;
  border: 3px solid black;
  display: inline-block;
  transition: border 0.4s ease;
  text-transform: capitalize;
  font-family: acumin-pro, sans-serif;
  font-size: 1rem;

  &.img-button {
    font-size: 50px;
    margin-right: 20px;
    filter: invert(1);
  }
}
button:hover, button.active, .button:hover {
  background:white;
  color:black;
  cursor: pointer;
}
hr {
  border: 2px solid black;
}

.pageContainer {
  padding: 7rem 10rem 0rem 10rem;
  min-height: 100vh;
}
.gridContainer {
  display: grid;
  grid-template-columns: 20% 20% 20% 1fr;
  grid-column-gap: 25px;
  width: 100%;
}
.splide__arrows {
  width: 7rem;
  position: relative;
  top: 95%;
  left: 89%;
}
.splide__arrow {
  border-radius: 0px;
  border: 3px solid black;
  background: black;
  color: white;
  opacity: 1;
}
.splide__arrow svg {
  fill: white;
}
.splide__arrow:hover svg {
  fill: black;
}
.splide__pagination {
  display: none;
}
.splide__list {
  display: flex;
  height: 100%;
}
.splide__track {
  height: 30rem;
}

@media screen and (max-width: 1850px) {
    html {
      font-size: 16px;
    }
    .splide__track {
      height: 35rem;
    }
}
@media screen and (max-width: 1450px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1250px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 950px) {
  html {
    font-size: 18px;
  }
  .pageContainer {
    padding: 100px 1rem 0rem 1rem;
  }
  .gridContainer {
    grid-template-columns: 33% 1fr;
    grid-column-gap: 15px;
  }

  .splide__arrows {
    top: -25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
    left: unset;
  }
  .splide__arrow {
    left: unset;
    width: 100%;
    position: relative;
  }
  .splide__arrow--next {
    right: unset;
  }
  .splide__track {
    height: min-content;
    margin-top: -6px;
  }
}

@keyframes link-anim {
  0% {transform: scaleX(1); transform-origin: right;}
  45% {transform: scaleX(0); transform-origin: right;}
  55% {transform: scaleX(0); transform-origin: left;}
  100% {transform: scaleX(1); transform-origin: left;}
}
@import url("https://use.typekit.net/lyz1rty.css");
